@import 'base/glob';
// @import 'components/glob';
@import 'helpers/glob';
@import 'layout/glob';
// @import 'pages/glob';
// @import 'themes/glob';
// @import 'vendors/glob';

body {
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0 auto;    
}
.wrap {
    width: inherit;
}
/* HEADER */
.header {
    width: inherit;
    height: 5.875em;
    display: flex;
    justify-content: center;
    .header__container {
        width: 68.82%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }    
    .header__menu {
        width: 67.77%;
        height: inherit;
    }    
}
/* BANNER */
.banner {
    width: 100%;
    height: 36.81em;
    background-color: $color_1;
    display: flex;
    flex-flow: column;
    align-items: center;
    .banner__title1 {
        font: bold 2.18em $font_main;
        color: $color_2;
        padding-top: 3.14em;
    }    
    .banner__title2 {
        font: 1em font_1;
        color: $color_2;
        padding-bottom: 1.93em;
    }    
    .banner__form {
        width: 67.875em;
    }    
    .banner__slider-container {
        width: 40em;
        height: 25em;
        position: relative;
        top: 4.187em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}
/* SERVICE */
.services {
    width: 100%;
    height: 57.687em;
    background-color: $color_3;
    display: flex;
    flex-flow: column;
    align-items: center;
    .services__slogan1 {
        color: $color_4;
        font: 1.875em $font_main;
        padding-top: 6.966em;
    }    
    .services__slogan2 {
        color: $color_4;
        font: 1em $font_main;
        padding-bottom: 5.125em;
    }    
    .services__list {
        width: 68.823%;
        height: 27.25em;
        display: flex;
        flex-flow: row nowrap;  
    }    
    .services__list-left, .services__list-right {
        width: 50%;
    }    
    .services__service {
        width: 33.125em;
        height: 5.937em;
        margin-bottom: 5em;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }    
    .services__service_width-longer {
        width: 32.705em;
        margin-left: 1.75em;
    }    
    .services__service-info {
        width: 26.625em;
    }    
    .services__service-icon {
        width: 4.882em;
        height: 100%;
    }
    .services__service-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }    
    .services__service-title {
        font: bold 1em $font_2 , $font_main;
        padding-bottom: 0.5em;
    }    
    .services__service-text {
        font: 0.812em $font_3, $font_main;
    }
}
/* ABOUT */
.about {
    width: 100%;
    height: 39.06em;
    background-color: $color_5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about__panel-left {
        width: 50%;
        height: 100%;
        background: url(../img/table.png) no-repeat 0 0;
    }    
    .about__panel-right {
        width: 50%;
        height: 100%;
    }    
    .about__info {
        width: 31.625em;
        height: 17.812em;
        color: $color_3;
        margin: 8em 0 0 5em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }    
    .about__info-title {
        font: normal 1.875em $font_main;
        margin-bottom: 0.8em;
    }    
    .about__info-text {
        font: normal 0.85em $font_1;
        padding-bottom: 4em;
    }    
    .about__info-link {
        border: solid 0.1em $color_6;
        padding: 1.32em 0;
        font: normal 0.875em $font_main;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_3;
        width: 10.5em;
        text-align: center;
    }
    .about__panel-left {
        width: 50%;
        height: 100%;
        background: url(../img/table.png) no-repeat 0 0;
    }    
    .about__panel-right {
        width: 50%;
        height: 100%;
    }    
    .about__info {
        width: 31.625em;
        height: 17.812em;
        color: $color_3;
        margin: 8em 0 0 5em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }    
    .about__info-title {
        font: normal 1.875em $font_main;
        margin-bottom: 0.8em;
    }    
    .about__info-text {
        font: normal 0.85em $font_1;
        padding-bottom: 4em;
    }    
    .about__info-link {
        border: solid 0.1em $color_6;
        padding: 1.32em 0;
        font: normal 0.875em $font_main;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_3;
        width: 10.5em;
        text-align: center;
    }
}
/* PRICING */
.pricing {
    width: 100%;
    height: 56.125em;
    background-color: $color_7;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pricing__title {
        font: 1.85em $font_main;
        color: $color_8;
        padding-top: 4.566em;
    }    
    .pricing__subtitle {
        font: 1.125em $font_main;
        color: $color_8;
    }    
    .pricing__plans {
        width: 68.823%;
        height: 31.375em;
        margin-top: 3.062em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }    
    .pricing__plan {
        width: 33.5%;
        height: 27.625em;
        background-color: $color_3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }    
    .pricing__plan_theme-blue {
        width: 33.33%;
        height: inherit;
        background-color: $color_1;
        display: flex;
        justify-content: center;    
    }

}
.plan {
    width: 20.625em;
    height: 21.06em;
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .plan__inner-container {
        height: 21em;
        display: flex;
        flex-flow: column;
    }    
    .plan__inner-container_position_relative {
        padding-top: 2.1em;
    }    
    .plan__title {
        font: 1.51em $font_main;
        text-align: center;
        color: $color_9;
        padding-bottom: 0.5em;
        text-transform: uppercase;
    }    
    .plan__price {
        font: 3.75em $font_2, $font_main;
        text-align: center;
        color: $color_10;
        text-transform: uppercase;
    }    
    .plan__duration {
        text-align: center;
        color: $color_11;
        text-transform: uppercase;
        font: bold 1em $font_main;
    }    
    .plan__advert-content {
        font: 0.843em $font_main;
        text-align: center;
        color: $color_9;   
        border-top: solid 0.1em $color_12;
        padding-top: 0.937em;
        margin-top: 0.937em;
        text-transform: uppercase;
    }    
    .plan__advert-content_margin-top_33px {
        margin-top: 2.062em;
    }    
    .plan__advert-content_border-color_lightblue {
        border-top-color: $color_13;
    }    
    .plan__button {
        text-align: center;
        margin-top: 2em;
    }    
    .plan__link {
        font: 0.843em $font_main;
        color: $color_3;
        background-color: $color_10;
        text-transform: uppercase;
        padding: 0.937em 1.25em;
        text-decoration: none;
    }
}
/* HOW-IT-WORKS */
.how-it-works {
    width: 100%;
    height: 53.75em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .how-it-works__title {
        font: 1.875em  $font_main;
        color: $color_4;
        padding-top: 5.2em;
    }    
    .how-it-works__subtitle {
        font: 1.1em $font_main;
        color: $color_4;
        padding-top: 0.58em;
    }    
    .how-it-works__steps {
        width: 68.823%;
        height: 28.875em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    .how-it-works__step {
        width: 25%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }    
    .how-it-works__step-container {
        width: 15em;
        height: 18.75em;
        margin-top: 4.9em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .how-it-works__step-title {
        font: bold 1.25em $font_2, $font_main;
        color: $color_14;
        padding: 5em 0 1.4em 0;
    }    
    .how-it-works__step-text {
        color: $color_14;
        text-align: center;
        font: bold 0.812em $font_3, $font_main;
    }    
    .how-it-works__button {
        margin-top: 1.06em;
    }    
    .how-it-works__link {
        text-decoration: none;
        color: $color_3;
        padding: 1.06em 1.75em;
        background-color: $color_10;
        margin-bottom: 9.375em;
    }
    .how-it-works__circle-around {
        width: 11.5em;
        height: 11.5em;
        position: relative;
        bottom: 18.75em;
    }
    .how-it-works__arrow_position_left {
        width: 8em;
        height: 2em;
        position: relative;
        left: 60%;
        bottom: 160%;
    }
    .how-it-works__arrow_position_middle {
        width: 8em;
        height: 2em;
        position: relative;
        top: -65%;
        left: 50%;
        transform: rotate(180deg);
    }    
    .how-it-works__arrow_position_right {
        width: 8em;
        height: 2em;
        position: relative;
        right: 60%;
        bottom: 160%;
    }
    .how-it-works__icon-headphones {
        width: 4.437em;
        height: 3.812em;
    }    
    .how-it-works__icon-hand {
        width: 4.312em;
        height: 4.187em;
    }    
    .how-it-works__icon-lock {
        width: 3.187em;
        height: 4.125em;
    }    
    .how-it-works__icon-cloud {
        width: 5.125em;
        height: 3.812em;
    }
}
/* CLIENTS */
.clients {
    width: 100%;
    height: 56.68em;
    background-color: $color_5;
    display: flex;
    flex-direction: column;
    align-items: center;
    .clients__title {
        color: $color_3;
        text-align: center;
        padding-top: 4.8em;
        font: 1.875em $font_main;
    }    
    .clients__subtitle {
        color: $color_3;
        text-align: center;
        padding-bottom: 3.625em;
        font: 1em $font_1;
    }    
    .clients__container {
        width: 73.125em;
        display: flex;
        flex-flow: row nowrap;
    }    
    .clients__panel-left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }    
    .clients__panel-right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }    
    .clients__client {
        width: 35.5em;
        height: 15em;
        background-color: $color_3;
        margin-bottom: 1.25em;
    }    
    .clients__client-img {
        float: left;
        border-radius: 10em;
        width: 7.6em;
        height: 7.6em;
        margin: 2.625em 0.8em 0 1.75em;
    }     
    .clients__container-info {
        width: 31.25em;
        height: 9.062em;
        padding-top: 2.81em;    
    }    
    .clients__double-comma {
        float: left;
        padding-right: 0.625em;
        margin: -0.625em 0 6.25em 0;
    }    
    .clients__double-comma_line-height_none {
        line-height: 0;
    }    
    .clients__testimonial {
        font-size: 0.843em;
        margin-top: -0.740em;
        padding: 0.740em 0 1em 0;
    }    
    .clients__info {
        font-size: 0.875em;
    }    
    .clients__link {   
        color: $color_15;
        text-decoration: none;
    }
}
/* NEWSLETTER */
.newsletter {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .newsletter__title {
        color: $color_4;
        padding-top: 5.166em;
        font: 1.875em $font_main;
    }    
    .newsletter__subtitle {
        color: $color_4;
        padding-bottom: 2.375em;
        font: 1em $font_1;
    }    
    .newsletter__form {
        padding-bottom: 0.1em;
        display: flex;
        flex-flow: row nowrap;
    }
}
.business-form__input-text_theme_newsletter-name {
    width: 23.69em !important;
    border-style: solid !important;
    border-width: 0.1em !important;
}
.business-form__input-text_theme_newsletter-email {
    width: 29.5em !important;
    border-style: solid !important;
    border-width: 0.1em !important;
}
.newsletter-form__input-submit_width_short {
    width: 15.428em !important;
    height: calc(100% + 0.1em) !important;
}
/* MAP */
.map {
    width: 100%;
    height: 41.31em;
    .map__inner-container {
        width:68.823%;
        height: inherit;
        margin: 0 auto;
        background: url(../img/map-map.png) no-repeat center;        
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }    
    .map__advert-background {
        text-align: center;
        padding-top: 5.75em;
    }    
    .map__address-section {
        width: 9.312em;
        height: 9.312em;
        position: relative;
        top: -14.375em;    
        margin: 0 auto;
    }    
    .map__address-title {
        color: $color_3;
        text-align: center;
        font: bold 1em $font_2, $font_main;
    }    
    .map__address {
        color: $color_16;
        text-align: center;
        padding: 1em;
        font: 0.812em/1.7em $font_1;
    }    
    .map__address-link {
        text-decoration: none;
        padding-left: 0.2em;
        color: $color_17;
    }    
    .map__logo {
        width: 3.125em;
        height: 3.125em;
        margin-top: -9.062em;
    }
}
/* FOOTER */
.footer {
    width: 100%;
    height: 16.437em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .footer__top {
        height: 13.687em;
        width: 68.82em;
        background-color: $color_3;
        border-top: solid 0.1em  $color_18;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }    
    .footer__nav {
        width: 49.437em;
        padding-top: 4.437em;
    }    
    .footer__nav-ul {
        padding: 0;
        margin: 0;
        width: inherit;    
        list-style: none;
        display: flex;
        justify-content: space-between;
    }   
    .footer__nav-link {
        text-decoration: none;
        padding: 0.384em;
        color: $color_14;
        font-size: 0.812em;
    }    
    .footer__contact-info {
        display: flex;
        justify-content: center;
        padding-top: 1.875em;
    }    
    .footer__phone-icon {
        width: 1.062em;
        height: 1em;
    }    
    .footer__phone-number {
        color: $color_4;
        padding-left: 0.521em;
        font: 1.437em/0.695em $font_main;
    }    
    .footer__social {
        display: flex;
        justify-content: center;
        padding-top: 1.25em;
    }    
    .footer__social-img {
        padding-right: 1em;
    }    
    .footer__bottom {
        width: 100%;
        height: 2.75em;
        background-color: $color_1;
        display: flex;
        justify-content: center;
    }    
    .footer__copyright {    
        color:$color_3;    
        padding-top: 0.6em;
        font: 0.8em $font_1;   
    }
}