@import "../helpers/_variables.scss";

$font-main-size: 1em;

*{
    margin: 0;
    padding: 0;
}
.business-form {
    width: 100%;
    height: $font-main-size * 3.06;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__input-text {
        font: {
            family: $font_1;
            size: $font-main-size * 0.81;
        }
        color: $color_1;
        border-style: none;
        width: $font-main-size * 18.68;
        height: inherit;
        padding-left: $font-main-size * 3.086;
        margin-right: 5px;
        background: $color_3 $font-main-size * 1.2 no-repeat;
    }    
    &__input-submit {
        font: {
            family: $font_1;
            size: $font-main-size * 0.9;
        }
        color: $color_3;
        background-color: $color_10;
        border-style: none;
        width: $font-main-size * 14.72;
        height: inherit;
    }    
    &__input-text_icon-man {
        background-image: url(../img/icon-man.png);
    }
    
    &__input-text_icon-letter {
        background-image: url(../img/icon-letter.png);
    }
    
    &__input-text_icon-tel {
        background-image: url(../img/icon-tel.png);
    }
}



