.business__slider-container {
    width: inherit;
    height: inherit;
}

.business__slider {
    padding: 0 2.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 25em;
    background: url(../img/laptop.png) no-repeat 0;
}

.business__slider-arrow {
    width: 0.5em;
    height: 0.875em;
}

.business__slider-arrow_direction_left {
    transform: rotate(180deg);
}

.business__slider-radio {
    padding: 0 280px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;    
}
