@import "../helpers/_variables.scss";

.business-nav {
	width: 100%;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__ul {
		width: inherit;
		display: flex;
		display: -webkit-flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__li {		
		list-style: outside none;
	}
	&__li_theme-orange {
		background-color: $color_10;
		padding: 0.5em 1em;
	}
	&__link {
		text-decoration: none;
		font-size: 0.843em;
		text-transform: uppercase;
		color: $color_19;
	}
}

