/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/**
 * Add the correct font size in all browsers.
 */
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
/**
 * Restore the focus styles unset by the previous rule.
 */
/**
 * Correct the padding in Firefox.
 */
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/*
 * Add the correct display in all browsers.
 */
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/**
 * Add the correct display in IE 10.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b {
  font-weight: bolder; }

strong {
  font-weight: bolder; }

code {
  font-family: monospace, monospace;
  font-size: 1em; }

kbd {
  font-family: monospace, monospace;
  font-size: 1em; }

samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

img {
  border-style: none; }

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button; }
  button::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring {
    outline: 1px dotted ButtonText; }

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible; }

optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none; }

textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto; }

[type="button"] {
  -webkit-appearance: button; }
  [type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  [type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

[type="reset"] {
  -webkit-appearance: button; }
  [type="reset"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  [type="reset"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

[type="submit"] {
  -webkit-appearance: button; }
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button {
  height: auto; }
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0; }

.business-form {
  width: 100%;
  height: 3.06em;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .business-form__input-text {
    font-family: sans-serif;
    font-size: 0.81em;
    color: #709dca;
    border-style: none;
    width: 18.68em;
    height: inherit;
    padding-left: 3.086em;
    margin-right: 5px;
    background: #fff 1.2em no-repeat; }
  .business-form__input-submit {
    font-family: sans-serif;
    font-size: 0.9em;
    color: #fff;
    background-color: #ffbb42;
    border-style: none;
    width: 14.72em;
    height: inherit; }
  .business-form__input-text_icon-man {
    background-image: url(../img/icon-man.png); }
  .business-form__input-text_icon-letter {
    background-image: url(../img/icon-letter.png); }
  .business-form__input-text_icon-tel {
    background-image: url(../img/icon-tel.png); }

.business-nav {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .business-nav__ul {
    width: inherit;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .business-nav__li {
    list-style: outside none; }
  .business-nav__li_theme-orange {
    background-color: #ffbb42;
    padding: 0.5em 1em; }
  .business-nav__link {
    text-decoration: none;
    font-size: 0.843em;
    text-transform: uppercase;
    color: #868686; }

.business__slider-container {
  width: inherit;
  height: inherit; }

.business__slider {
  padding: 0 2.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 25em;
  background: url(../img/laptop.png) no-repeat 0; }

.business__slider-arrow {
  width: 0.5em;
  height: 0.875em; }

.business__slider-arrow_direction_left {
  transform: rotate(180deg); }

.business__slider-radio {
  padding: 0 280px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

body {
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0 auto; }

.wrap {
  width: inherit; }

/* HEADER */
.header {
  width: inherit;
  height: 5.875em;
  display: flex;
  justify-content: center; }
  .header .header__container {
    width: 68.82%;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .header .header__menu {
    width: 67.77%;
    height: inherit; }

/* BANNER */
.banner {
  width: 100%;
  height: 36.81em;
  background-color: #709dca;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .banner .banner__title1 {
    font: bold 2.18em "Times New Roman", Times, serif;
    color: #b6b6b6;
    padding-top: 3.14em; }
  .banner .banner__title2 {
    font: 1em font_1;
    color: #b6b6b6;
    padding-bottom: 1.93em; }
  .banner .banner__form {
    width: 67.875em; }
  .banner .banner__slider-container {
    width: 40em;
    height: 25em;
    position: relative;
    top: 4.187em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }

/* SERVICE */
.services {
  width: 100%;
  height: 57.687em;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .services .services__slogan1 {
    color: #394b50;
    font: 1.875em "Times New Roman", Times, serif;
    padding-top: 6.966em; }
  .services .services__slogan2 {
    color: #394b50;
    font: 1em "Times New Roman", Times, serif;
    padding-bottom: 5.125em; }
  .services .services__list {
    width: 68.823%;
    height: 27.25em;
    display: flex;
    flex-flow: row nowrap; }
  .services .services__list-left, .services .services__list-right {
    width: 50%; }
  .services .services__service {
    width: 33.125em;
    height: 5.937em;
    margin-bottom: 5em;
    display: flex;
    flex-flow: row;
    justify-content: center; }
  .services .services__service_width-longer {
    width: 32.705em;
    margin-left: 1.75em; }
  .services .services__service-info {
    width: 26.625em; }
  .services .services__service-icon {
    width: 4.882em;
    height: 100%; }
  .services .services__service-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .services .services__service-title {
    font: bold 1em "Lato", "Times New Roman", Times, serif;
    padding-bottom: 0.5em; }
  .services .services__service-text {
    font: 0.812em "Open Sans", "Times New Roman", Times, serif; }

/* ABOUT */
.about {
  width: 100%;
  height: 39.06em;
  background-color: #ffc155;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .about .about__panel-left {
    width: 50%;
    height: 100%;
    background: url(../img/table.png) no-repeat 0 0; }
  .about .about__panel-right {
    width: 50%;
    height: 100%; }
  .about .about__info {
    width: 31.625em;
    height: 17.812em;
    color: #fff;
    margin: 8em 0 0 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .about .about__info-title {
    font: normal 1.875em "Times New Roman", Times, serif;
    margin-bottom: 0.8em; }
  .about .about__info-text {
    font: normal 0.85em sans-serif;
    padding-bottom: 4em; }
  .about .about__info-link {
    border: solid 0.1em #e7ad48;
    padding: 1.32em 0;
    font: normal 0.875em "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 10.5em;
    text-align: center; }
  .about .about__panel-left {
    width: 50%;
    height: 100%;
    background: url(../img/table.png) no-repeat 0 0; }
  .about .about__panel-right {
    width: 50%;
    height: 100%; }
  .about .about__info {
    width: 31.625em;
    height: 17.812em;
    color: #fff;
    margin: 8em 0 0 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .about .about__info-title {
    font: normal 1.875em "Times New Roman", Times, serif;
    margin-bottom: 0.8em; }
  .about .about__info-text {
    font: normal 0.85em sans-serif;
    padding-bottom: 4em; }
  .about .about__info-link {
    border: solid 0.1em #e7ad48;
    padding: 1.32em 0;
    font: normal 0.875em "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 10.5em;
    text-align: center; }

/* PRICING */
.pricing {
  width: 100%;
  height: 56.125em;
  background-color: #e7edf3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pricing .pricing__title {
    font: 1.85em "Times New Roman", Times, serif;
    color: #c9d1d6;
    padding-top: 4.566em; }
  .pricing .pricing__subtitle {
    font: 1.125em "Times New Roman", Times, serif;
    color: #c9d1d6; }
  .pricing .pricing__plans {
    width: 68.823%;
    height: 31.375em;
    margin-top: 3.062em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .pricing .pricing__plan {
    width: 33.5%;
    height: 27.625em;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
  .pricing .pricing__plan_theme-blue {
    width: 33.33%;
    height: inherit;
    background-color: #709dca;
    display: flex;
    justify-content: center; }

.plan {
  width: 20.625em;
  height: 21.06em;
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .plan .plan__inner-container {
    height: 21em;
    display: flex;
    flex-flow: column; }
  .plan .plan__inner-container_position_relative {
    padding-top: 2.1em; }
  .plan .plan__title {
    font: 1.51em "Times New Roman", Times, serif;
    text-align: center;
    color: #caced3;
    padding-bottom: 0.5em;
    text-transform: uppercase; }
  .plan .plan__price {
    font: 3.75em "Lato", "Times New Roman", Times, serif;
    text-align: center;
    color: #ffbb42;
    text-transform: uppercase; }
  .plan .plan__duration {
    text-align: center;
    color: #818b95;
    text-transform: uppercase;
    font: bold 1em "Times New Roman", Times, serif; }
  .plan .plan__advert-content {
    font: 0.843em "Times New Roman", Times, serif;
    text-align: center;
    color: #caced3;
    border-top: solid 0.1em #e2e9f0;
    padding-top: 0.937em;
    margin-top: 0.937em;
    text-transform: uppercase; }
  .plan .plan__advert-content_margin-top_33px {
    margin-top: 2.062em; }
  .plan .plan__advert-content_border-color_lightblue {
    border-top-color: #8eb8e2; }
  .plan .plan__button {
    text-align: center;
    margin-top: 2em; }
  .plan .plan__link {
    font: 0.843em "Times New Roman", Times, serif;
    color: #fff;
    background-color: #ffbb42;
    text-transform: uppercase;
    padding: 0.937em 1.25em;
    text-decoration: none; }

/* HOW-IT-WORKS */
.how-it-works {
  width: 100%;
  height: 53.75em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .how-it-works .how-it-works__title {
    font: 1.875em "Times New Roman", Times, serif;
    color: #394b50;
    padding-top: 5.2em; }
  .how-it-works .how-it-works__subtitle {
    font: 1.1em "Times New Roman", Times, serif;
    color: #394b50;
    padding-top: 0.58em; }
  .how-it-works .how-it-works__steps {
    width: 68.823%;
    height: 28.875em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
  .how-it-works .how-it-works__step {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
  .how-it-works .how-it-works__step-container {
    width: 15em;
    height: 18.75em;
    margin-top: 4.9em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .how-it-works .how-it-works__step-title {
    font: bold 1.25em "Lato", "Times New Roman", Times, serif;
    color: #606d70;
    padding: 5em 0 1.4em 0; }
  .how-it-works .how-it-works__step-text {
    color: #606d70;
    text-align: center;
    font: bold 0.812em "Open Sans", "Times New Roman", Times, serif; }
  .how-it-works .how-it-works__button {
    margin-top: 1.06em; }
  .how-it-works .how-it-works__link {
    text-decoration: none;
    color: #fff;
    padding: 1.06em 1.75em;
    background-color: #ffbb42;
    margin-bottom: 9.375em; }
  .how-it-works .how-it-works__circle-around {
    width: 11.5em;
    height: 11.5em;
    position: relative;
    bottom: 18.75em; }
  .how-it-works .how-it-works__arrow_position_left {
    width: 8em;
    height: 2em;
    position: relative;
    left: 60%;
    bottom: 160%; }
  .how-it-works .how-it-works__arrow_position_middle {
    width: 8em;
    height: 2em;
    position: relative;
    top: -65%;
    left: 50%;
    transform: rotate(180deg); }
  .how-it-works .how-it-works__arrow_position_right {
    width: 8em;
    height: 2em;
    position: relative;
    right: 60%;
    bottom: 160%; }
  .how-it-works .how-it-works__icon-headphones {
    width: 4.437em;
    height: 3.812em; }
  .how-it-works .how-it-works__icon-hand {
    width: 4.312em;
    height: 4.187em; }
  .how-it-works .how-it-works__icon-lock {
    width: 3.187em;
    height: 4.125em; }
  .how-it-works .how-it-works__icon-cloud {
    width: 5.125em;
    height: 3.812em; }

/* CLIENTS */
.clients {
  width: 100%;
  height: 56.68em;
  background-color: #ffc155;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .clients .clients__title {
    color: #fff;
    text-align: center;
    padding-top: 4.8em;
    font: 1.875em "Times New Roman", Times, serif; }
  .clients .clients__subtitle {
    color: #fff;
    text-align: center;
    padding-bottom: 3.625em;
    font: 1em sans-serif; }
  .clients .clients__container {
    width: 73.125em;
    display: flex;
    flex-flow: row nowrap; }
  .clients .clients__panel-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap; }
  .clients .clients__panel-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end; }
  .clients .clients__client {
    width: 35.5em;
    height: 15em;
    background-color: #fff;
    margin-bottom: 1.25em; }
  .clients .clients__client-img {
    float: left;
    border-radius: 10em;
    width: 7.6em;
    height: 7.6em;
    margin: 2.625em 0.8em 0 1.75em; }
  .clients .clients__container-info {
    width: 31.25em;
    height: 9.062em;
    padding-top: 2.81em; }
  .clients .clients__double-comma {
    float: left;
    padding-right: 0.625em;
    margin: -0.625em 0 6.25em 0; }
  .clients .clients__double-comma_line-height_none {
    line-height: 0; }
  .clients .clients__testimonial {
    font-size: 0.843em;
    margin-top: -0.740em;
    padding: 0.740em 0 1em 0; }
  .clients .clients__info {
    font-size: 0.875em; }
  .clients .clients__link {
    color: #f6772c;
    text-decoration: none; }

/* NEWSLETTER */
.newsletter {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .newsletter .newsletter__title {
    color: #394b50;
    padding-top: 5.166em;
    font: 1.875em "Times New Roman", Times, serif; }
  .newsletter .newsletter__subtitle {
    color: #394b50;
    padding-bottom: 2.375em;
    font: 1em sans-serif; }
  .newsletter .newsletter__form {
    padding-bottom: 0.1em;
    display: flex;
    flex-flow: row nowrap; }

.business-form__input-text_theme_newsletter-name {
  width: 23.69em !important;
  border-style: solid !important;
  border-width: 0.1em !important; }

.business-form__input-text_theme_newsletter-email {
  width: 29.5em !important;
  border-style: solid !important;
  border-width: 0.1em !important; }

.newsletter-form__input-submit_width_short {
  width: 15.428em !important;
  height: calc(100% + 0.1em) !important; }

/* MAP */
.map {
  width: 100%;
  height: 41.31em; }
  .map .map__inner-container {
    width: 68.823%;
    height: inherit;
    margin: 0 auto;
    background: url(../img/map-map.png) no-repeat center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .map .map__advert-background {
    text-align: center;
    padding-top: 5.75em; }
  .map .map__address-section {
    width: 9.312em;
    height: 9.312em;
    position: relative;
    top: -14.375em;
    margin: 0 auto; }
  .map .map__address-title {
    color: #fff;
    text-align: center;
    font: bold 1em "Lato", "Times New Roman", Times, serif; }
  .map .map__address {
    color: #a8b1b4;
    text-align: center;
    padding: 1em;
    font: 0.812em/1.7em sans-serif; }
  .map .map__address-link {
    text-decoration: none;
    padding-left: 0.2em;
    color: #f5b543; }
  .map .map__logo {
    width: 3.125em;
    height: 3.125em;
    margin-top: -9.062em; }

/* FOOTER */
.footer {
  width: 100%;
  height: 16.437em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .footer .footer__top {
    height: 13.687em;
    width: 68.82em;
    background-color: #fff;
    border-top: solid 0.1em #e3e7ec;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .footer .footer__nav {
    width: 49.437em;
    padding-top: 4.437em; }
  .footer .footer__nav-ul {
    padding: 0;
    margin: 0;
    width: inherit;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .footer .footer__nav-link {
    text-decoration: none;
    padding: 0.384em;
    color: #606d70;
    font-size: 0.812em; }
  .footer .footer__contact-info {
    display: flex;
    justify-content: center;
    padding-top: 1.875em; }
  .footer .footer__phone-icon {
    width: 1.062em;
    height: 1em; }
  .footer .footer__phone-number {
    color: #394b50;
    padding-left: 0.521em;
    font: 1.437em/0.695em "Times New Roman", Times, serif; }
  .footer .footer__social {
    display: flex;
    justify-content: center;
    padding-top: 1.25em; }
  .footer .footer__social-img {
    padding-right: 1em; }
  .footer .footer__bottom {
    width: 100%;
    height: 2.75em;
    background-color: #709dca;
    display: flex;
    justify-content: center; }
  .footer .footer__copyright {
    color: #fff;
    padding-top: 0.6em;
    font: 0.8em sans-serif; }

/*# sourceMappingURL=main.css.map */
